.loader-container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container img {
  width: 50px;
  /* adjust if needed */
  height: auto;
}